<! https://www.w3schools.com/howto/howto_css_about_page.asp >

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>About Us</title>

    <style>   
      legend {
        background-color: gray;
        color: white;
        padding: 5px 10px;
      }
    </style>

    <link rel="stylesheet" type="text/css" href="static/css/about_us.css">
    <link href="static/css/about_us.css" rel="stylesheet"/>
</head>

</body>

<div class="about-section">
  <h1>About the Ludologists</h1>
  <p>Some text about who we are and what we do.</p>
  <p>Resize the browser window to see that this page is responsive by the way.</p>
</div>

<h2 style="text-align:center">Our Team</h2>
<div class="row">
  <div class="column">
    <div class="card">
      <img src="/assets/abi.jpg" alt="Jane" style="width:50%">
      <div class="container">
        <h2>Abi Chambers</h2>
        <p class="title">Team Member</p>
        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="/assets/van.jpg" alt="Mike" style="width:50%">
      <div class="container">
        <h2>Van Eisele</h2>
        <p class="title">Team Member</p>
        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="/assets/zalex.jpg" alt="John" style="width:50%">
      <div class="container">
        <h2>Alex Perez</h2>
        <p class="title">Team Member</p>
        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>
</div>

</body>
</html>




