<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>home</title>
    <!-- Bootstrap Code -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/flatly/bootstrap.min.css"integrity="sha384qF/QmIAj5ZaYFAeQcrQ6bfVMAh4zZlrGwTPY7T/M+iTTLJqJBJjwwnsE5Y0mV7QK"crossorigin="anonymous">

</head>

<body>
<div style="background-color:#593194">
  <!-- Navigation bar -->
  <nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
    <div class="container-fluid">
      <h4>Choose your Adventure: &nbsp&nbsp&nbsp&nbsp </h4>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="nav-link active" href="/">Home
              <span class="visually-hidden">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="board_game_recommender">Board Game Recommender</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="tableau01">Metadata</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="tableau02">Top 100</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="sample_data">Data Table</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="about_us">About Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="works_cited">Works Cited</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="write_up">Write-Up</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- Navigation bar -->


  <!-- Page Title/Intro -->
  <div class="container-fluid" style="background-color:#593194">
    <div class="row" style="background-color:#593194">
      <div class="col-md-12 jumbotron text-center">
        <h1>Welcome to the Ludologists' recommender to help you</h1>
          <h1> decide your next board game adventure.</h1>
        <p></p>
        <h5 class="paragraph-style">Explore our resources to familiarize yourself with the different game categories and mechanics. 
          Whether it's rediscovering a classic, or finding a new game; we hope that our site brings joy as we help you pick a game for an upcoming game night!</h5>
      </div>
    </div>
  </div>  

    <div class="container text-black bg-warning mb-3" >


      </div>
          <div class="content" style="background-color:#593194">
            <p></p>
            <img src="static/assets/home01.jpg" alt="Dice" style="width:100%">
          </div> 
      </div>

      <!-- Quotes to add:
      "I never go easy on kids when I play board games. The sooner they learn what the consequence of entering a competition is, the better. 
          If they win, I punch them in the face like any adult." -Zach Braff 
      "There are only three forms of high art: the symphony, the illustrated children's book, and the board game." -Brian K. Vaughan
      "If you're going to play at all, you're out to win. Baseball, board games, playing Jeopardy, I hate to lose." -Derek Jeter -->

  </div>
</body>

</html>
